<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
    <title>Login</title>
</head>
<body>
    <div class="container col-6">
        <h1 style="text-align: center">Login</h1>
        <div class="col-md-auto">

            <form th:object="${user}" th:action="login" method="post">
                <div>
                    <span style="color: red" th:text="${param.msg}"></span>
                </div>
                <div class="form-group">
                    <label th:text="Username" th:for="username"></label>
                    <input type="text" class="form-control"
                           th:field="*{username}" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label th:text="Password" th:for="password"></label>
                    <input type="password" class="form-control"
                           th:field="*{password}" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-outline-primary">Login</button>
            </form>
        </div>
    </div>
</body>
</html>